* {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    flex-wrap: wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: rgb(33, 188, 199);
}

body img {
    width: 30%;
    flex-wrap: wrap;
    background-size: cover;
}

.button-success {
    color: black;
    border-radius: 4px;
    background: rbg(0,139,139)
}

.pure-u-1 {
    text-align: center;
    display: flex;
    margin-bottom: 5px;
}

.pure-g {
    justify-content: space-around;
    margin-top: 10px;
}


.pure-button-group {
    margin-top: 15px;
    justify-content: space-between;

}
